
:root {
    --base-color: white;
    --text-color: black;
    --secondary-color: darkgray;

}

.darkMode {
    --base-color: black;
    --text-color: white;
    --secondary-color: silver;

}

#dark-light {
    position: absolute;
    right: 10%;
    top : 15%;
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    /*background-color: var(--text-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Hides last one*/
#dark-light svg:last-child {
    display: none;
}
.darkMode #dark-light svg:first-child {
    display: none;
}
.darkMode #dark-light svg:last-child {
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--base-color);
    transition: background-color 0.4s ease, color 0.4s ease;
}

.header, .footer {
    text-align: center;
    display: flex;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/*GAL IMP*/
.gallery-container {
    display: flex;
    flex: 1;
    position: relative;
}

.sidebar {
    width: 250px;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.main-content {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#header-container {
    position: relative;
    z-index: 2;
}

#navbar-container {
    position: relative;
    z-index: 2;
}

#footer-container {
    margin-top: auto;
}

.player iframe {
    width: 100%;
    height: 360px;
    border: none;
}

.description {
    font-size: 1rem;
    color: #333;
}

.event-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.event-gallery img {
    width: 150px;
    height: auto;
    border: 0.5rem;
}
/*end gal*/

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body-container iframe {
    width: 100%;
    height: 500px;
    border: none;
    overflow: hidden;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: stretch;
    /*Temp*/
    background-color: var(--text-color);
    position: relative;
    height: 4vh;
}

nav a {
    display: flex;
    width: 10%;
    height: 100%;
    text-decoration: none;
    color: var(--base-color);
    background-color: var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

nav a:hover {
    /*Trying, for now*/
    /*color:var(--secondary-color);*/
    background-color: lightgray;
    /*This should work*/
    color: black;
}